@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

.title {
  display: flex;
  position: absolute;
  /* height: auto; */
  /* max-width: 100%; */
  align-items: center;
  justify-content: center;
  margin-top: 55em;
  transform: translateZ(-5px) scale(1.5);
  z-index: -1;
}
.title h1 {
  font-family: "Dancing Script", cursive;
  color: gold;
  font-size: 13vw;
  text-shadow: 0 2px 4px black;
}

.mainTitle.fade-in {
  transition: opacity 1000ms ease-in;
}

@media all and (min-width: 769px) {
  .title {
    margin-top: 50em;
  }
  .title h1 {
    font-size: 7vw;
  }
}
