.gallery {
  background-color: darkslateblue;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 4px;
}

.col {
  flex: 100%;
  padding: 4px 4px;
}

.col img {
  margin-top: 8px;
  height: auto;
  width: 100%;
}

@media screen and (min-width: 769px) {
  .col {
    flex: 1;
  }
}
